@use 'colors';
@use 'text';


.hero{
    background-image: url(/images/vcela-modry-kvet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 200px;
    min-height: 300px;
    background-position: center;

    @media screen and (min-width: 800px){
        background-image: url(/images/vcela-modry-kvet.jpg);
        min-height: 400px;
     
    }

}
.hero-tradicia{
    background-image: url(/images/apa-vcely.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 200px;
    min-height: 300px;
   

    @media screen and (min-width: 800px){
        background-image: url(/images/apa-vcely-hero.jpg);
        min-height: 400px;
        background-position: center;
    }
}

.hero-about{
    background-image: url(/images/ule-zima-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 200px;
    min-height: 300px;
   

    @media screen and (min-width: 800px){
        background-image: url(/images/ule-zima-hero.jpg);
        min-height: 400px;
        background-position: center;
    }
}